/* colores tema oscuro #090c15
                    #151b2b


colores tema claro: amarillo: #D6A80C
                    claro: #F8F3CA
                    oscuro: #DFDDE3 */



/* =============GENERALES============= */
body{
    background-color: #DFDDE3;
}
h1,h2,h3,h4,p,a{
    color: #090c15;
}
a{
    text-decoration: none;
}
input{
    background-color: #DFDDE3 !important;
    color: #090c15 !important;
    border-color:#DFDDE3 !important;
}
.sec-izq{
    background-color: white;
}
svg{
    stroke: #090c15;
}
button{
    background-color: #50adea !important;
    border-color: #50adea !important;
}
.img-index{
    display: flex;
    justify-content: center;
    padding-top: 10rem;
}

/* =============INICIO============= */
.color-cabecera{
    background-color: #007e99 !important;
    color: white !important;

}
.color-h1{
    padding-top: 5rem;
    color: white;
    
}
.color-h1:hover{
    color:#DFDDE3;
}
.logo-fin{
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    
}
.tamaño-cerrar{
    padding-top: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.tamaño{
    width: 7rem;
}
.btn-primary2{
    background-color: #50adea !important;
    border-color: #50adea !important;
    color: white !important;
}

.centrado{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    margin-top: 3rem;
    background-color: white;
    padding: 2rem 2rem;
    border-radius: 1rem;
}
label{
    color: #090c15;
}
.centrar-h4{
    text-align: center;
    padding-bottom: 2rem;
}
.centrar-inicio{
    text-align: center;
    margin-top: 10rem;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 8fr;
}



/* =============SECCIONES============= */
.posicion-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #DFDDE3;
}
.centrar{
    text-align: center;
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.espacios{
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    background-color: white;
}
.color-focus{
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    background-color: #DFDDE3;
}
.espacios:hover{
    background-color: #DFDDE3;
}


/* =============CONTENIDO (Inventario) ============= */








/* =============CONTENIDO (Proveedores) ============= */








/* =============CONTENIDO (Clientes) ============= */








/* =============CONTENIDO (Ventas) ============= */

.fuente-total{
    font-size: 4rem;
}
.hr-venta{
    background-color:black;
    height: 2px !important;
}
.flex-form{
    display: flex;
    justify-content:space-evenly;
}
.margen-input-venta{
    width: 20%;
}
.flex-imput{
    display: flex;
    justify-content: center;
}
.fuente-devolver{
    font-size: 2rem;
}



.grid-ventas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}



/* =============CONTENIDO (Compras) ============= */
.grid-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.centrar-compra{
    text-align: center;
    padding-top: 10rem;
}
.espacio-icono{
    margin-right: 4rem;
}
.total-espacio{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}
.bg-color{
    background-color: white;
    border-radius: 1rem;
}
.list-group-item{
    background-color: #090c15;
    border-color: white;
    
}

td, th{
    color:#090c15;  
    border-color: #DFDDE3 !important;
}

.tot-comp{
    padding-bottom: 1rem;
}



/* =============CONTENIDO (Informes) ============= */





